<app-header></app-header>

<div class="container flex flex-col md:flex-row mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 pt-10">
  <!-- Left section -->
  <div class="w-full md:w-1/3 p-2 relative text-center border-solid rounded-2xl border-2 border-sky-500 mb-8 md:mb-0 md:mr-8">
    <img src="../../../assets/staticImg/user.png" class="w-12 mx-auto mt-5" alt="userStaticImg">
    <div class="mt-5">
      <h2>Bienvenue<br> {{ userDetails?.username }} !</h2>
    </div>
    <p>Votre Email: </p>
    <h3>{{ userDetails?.email }}</h3>
    <button (click)="logout()" class="btn w-3/4 md:w-1/2 py-2 px-4 rounded-full bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600">Se Deconnecter</button>
    <ul class="mt-4">
      <li class="m-2"><a href="/userProfile/info"><span>Mes Informations</span></a></li>
      <li class="m-2"><a href="/userProfile/orders"><span>Mes Commandes</span></a></li>
      <li class="m-2"><a href="/userProfile/addresses"><span>Mes Adresses</span></a></li>
    </ul>
  </div>

  <!-- Right section -->
  <div [formGroup]="userForm" class="w-full mb-4 md:w-2/3 p-4 md:p-10 border-2 border-solid rounded-2xl border-sky-500">
      <div class="mb-4">
        <h2 class="text-center">Informations Personnel</h2>
        <p class="text-center">Vous pouvez changez d'Email ainsi que de Mot de passe.</p>
        <label for="email" class="block">Email<i class="mandatory">*</i></label>
        <input type="text" formControlName="email" class="border-solid border-2 border-sky-500 rounded p-2 w-full" />
      </div>
      <div class="text-center">
        <button (click)="editEmail()" class="btn w-1/2 py-2 px-4 rounded-full bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Valider</button>
      </div>
      <div class="max-w-md mx-auto text-center mt-8 border-t-2 pt-8">
        <h2 class="text-center mb-4">Reinitialiser votre mot de passe</h2>
        <button routerLink="/forgotPassword" class="btn w-1/2 py-2 px-4 rounded-full bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:bg-blue-600 mx-auto">Valider</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
