<app-header></app-header>

  <p class="text-center">Our Top Brands</p>
<!--BRANDS-->
  <div class="border border-sky-500 justify-center rounded-[20px] mb-[50px] bg-[#20273E] w-[1000px] mx-auto">
    <div class="flex justify-center py-2.5">
      <div class="flex space-x-4">
        <img src="../assets/staticImg/gigabyte.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/intel.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/aorus.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/asus.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/amd.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/corsair.jpg" class="rounded-full" alt="gigabyte">
        <img src="../assets/staticImg/msi.jpg" class="rounded-full" alt="gigabyte">
      </div>
    </div>
  </div>

  <br>
  <p class="text-center">Our Products By Parts</p>
  <div class="grid grid-cols-12 gap-4 bg-[#E8E6E6] pb-[20px]">
    <div class="col-span-2 bg-white rounded-[20px] mt-[20px]">
      <div>
        <img src="../assets/staticImg/laptop.jpg" alt="gaming_pc" class="pt-[20px] w-[50%] mx-auto">
        <p class="text-black text-center pl-[20px]">Laptop</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20px]">
    <div>
      <img src="../assets/staticImg/gaming_pc.png" alt="gaming_pc" class="pt-[20px] w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px]">Gaming PCs</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/cpu.png" alt="gaming_pc" class="pt-[20px] w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px]">CPUs</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/gpu.png" alt="gaming_pc" class="pt-[20px] w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px]">GPUs</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/monitor.png " alt="gaming_pc" class="pt-[40px] w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] pt-[30px]">Monitors</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/gaming_keyboard.png" alt="gaming_pc" class="pt-[50px] w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] pt-[40px]">Keyboards</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/motherboard.jpg" alt="gaming_pc" class=" w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">Motherboards</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/case.jpg" alt="gaming_pc" class=" w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">PC Cases</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/ram.jpg" alt="gaming_pc" class=" w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">RAM</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/ssd.jpg" alt="gaming_pc" class=" w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">SSDs</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/psu.jpg" alt="gaming_pc" class="w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">Power Supply</p>
    </div>
  </div>
  <div class="col-span-2 bg-white rounded-[20px] mt-[20PX]">
    <div>
      <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class="w-[50%] mx-auto">
      <p class="text-black text-center pl-[20px] ">Coolers</p>
    </div>
  </div>
</div>

<!--TOP DEALS CONTAINER-->
<!--TOP DEALS NEEDS TO BE RANDOMIZED-->
<p class="text-center pt-[60px] pb-[10px]">Top Deals By Category</p>
<div class="grid grid-cols-12 gap-4 border border-[#707070] bg-[#F8F8F8] pb-[60px] pt-[20px]">
  <div>
    <p class="pl-[20px] pt-[20px]">Check out our Most Popular Products!
    </p>
  </div>
  <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] mt-[20PX]">
    <p class="pl-[20px] pt-[20px]">PLACEHOLDER TITLE</p>
    <div>
      <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
      <p class="text-black text-center pt-[20px]">PLACEHOLDER<br>DESCRIPTION</p>
      <p class="text-[#0088FF] font-bold text-center" alt="price">200$</p>
      <div class="flex justify-center pb-4" >
        <button class="bg-[#0088FF] rounded-[5px] w-32 h-8 text-[#FFFFFF]" >ADD TO CART</button>
      </div>

    </div>
  </div>
</div>
<!--CONTAINER END-->

<BR>

<!--INTREST CONTAINER-->
<!--INTREST NEEDS TO BE STATIC-->
<p class="text-center pt-[60px] pb-[10px]">Browse by Intrest</p>
<div class="grid grid-cols-12 gap-6 pb-[60px] pt-[20px]">
  <div>
    <p class="pl-[20px] pt-[20px]"></p>
  </div>

  <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] pt-[40px] mt-[20px]">
    <div>
      <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
      <p class="text-black pl-[80px] pt-[20px]">TITLE</p>
      <p class="pl-[80px]" alt="price">PLACEHOLDER<br>DESCRIPTION</p>

  </div>

  </div>
  <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] pt-[40px] mt-[20px]">
  <div>
    <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
    <p class="text-black pl-[80px] pt-[20px]">TITLE</p>
    <p class="pl-[80px]" alt="price">PLACEHOLDER<br>DESCRIPTION</p>

  </div>
  </div>

  <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] pt-[40px] mt-[20px]">
  <div>
    <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
    <p class="text-black pl-[80px] pt-[20px]">TITLE</p>
    <p class="pl-[80px]" alt="price">PLACEHOLDER<br>DESCRIPTION</p>
    </div>
   </div>
   <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] pt-[40px] mt-[20px]">
    <div>
      <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
      <p class="text-black pl-[80px] pt-[20px]">TITLE</p>
      <p class="pl-[80px]" alt="price">PLACEHOLDER<br>DESCRIPTION</p>
      </div>
     </div>
     <div class="col-span-2 border border-[#707070]  bg-[#F8F8F8] rounded-[10px] pt-[40px] mt-[20px]">
      <div>
        <img src="../assets/staticImg/aio.jpg" alt="gaming_pc" class=" w-[50%] border rounded-[10px] border-[#707070] mx-auto">
        <p class="text-black pl-[80px] pt-[20px]">TITLE</p>
        <p class="pl-[80px]" alt="price">PLACEHOLDER<br>DESCRIPTION</p>
        </div>
       </div>
  </div>
<!--CONTAINER END-->
<app-footer></app-footer>
