<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between" style="height: 99px;">
  <div class="flex items-center justify-between w-full">
    <div class="flex items-center">
      <img src="../../../assets/img/index_logo.png" alt="logo" routerLink="home" style="width: 110px; margin-left: 20px;">
    </div>

    <div class="flex items-center">
      <ng-container *ngIf="authenticated; else notAuthenticated">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <img src="../../../assets/img/user.png" [matMenuTriggerFor]="menuUser"class="w-[40px]" alt="user-profile">
          <p class="text-xs">{{message}}</p>
        </div>
      </ng-container>
      <ng-template #notAuthenticated>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <a href="/authLogin"><img src="../../../assets/img/user.png" class="w-[40px]" alt="user-profile"></a>
          <p class="text-xs">{{message}}</p>
        </div>
      </ng-template>
    </div>
    <mat-menu #menuUser="matMenu">
      <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
          <ul>
            <a href="/userProfile"><li>Profile</li></a>
            <br>
            <a routerLink="/index" (click)="logout()">Logout</a>
          </ul>
        </div>
      </div>
    </mat-menu>


    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
          matBadge="1"
          matBadgeColor="warn"
        >shopping_cart</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
          <div class="pb-3 flex justify-between">
            <span class="mr-16">1 Item</span>
            <a routerLink="cart">View Cart</a>
          </div>
          <div class="flex justify-between font-light mb-2">
            Keyboard x 1
            <span class="font-bold">{{ '100' | currency}}</span>
          </div>
          <div class="flex justify-between py-3 font-light">
            Total :
            <span class="font-bold">{{ '100' | currency }}</span>
          </div>
          <div class="pt-3 flex justify-between">
            <button class="bg-rose-600 text-white rounded-full w-9 h-9">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
            <button
            routerLink="cart"
            class="bg-green-600 text-white rounded-full w-9 h-9">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
          </div>
        </div>
    </mat-menu>
  </div>
</mat-toolbar>


<mat-toolbar class="bg-[#4598F8]" >
<div class="pl-3"><a href="#">Computers</a></div>
<div class="pl-7"><a href="#">PC Components</a></div>
<div class="pl-7"><a href="#">Periphirals</a></div>
<div class="pl-7">
  <ul *ngIf="authenticated">
    <li>
  <a routerLink="/authLogin" (click)="logout()">Logout</a>
    </li>

</ul>

</div>
</mat-toolbar>
