<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between" style="height: 99px;">

  <!-- Left section with logo -->
  <div class="flex items-center">
    <img src="../../../assets/staticImg/index_logo.png" alt="logo" routerLink="home" style="width:110px; margin-left: 20px;">
  </div>


<div class="flex items-center">
  <div class="search-container">
    <input type="search" class=" w-96 h-11 p-[16px] border border-solid border-sky-500 rounded-l-full" autocomplete="off" placeholder="Rechercher" aria-label="Rechercher" value="" >
  </div>
  <button>
    <img src="../../../assets/svg/search.svg" class="w-[20px] border border-sky-500 search-field" alt="search" >
  </button>
</div>
    <!-- CART BUTTON -->
    <div class="flex items-center">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>shopping_cart</mat-icon>
      </button>

    <!-- LOGIN BUTTON -->
    <div routerLink="/authLogin" class="cursor-pointer hover:cursor-pointer ml-2" *ngIf="!authenticated">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        Se Connecter
      </button>
    </div>
    <div routerLink="/" (click)="logout()" class="cursor-pointer hover:cursor-pointer ml-2" *ngIf="authenticated">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      Se Déconnecter  
      </button>
    </div>
  </div>
  <!-- CART MENU -->
  <mat-menu #menu="matMenu">
    <!-- DYNAMIC CART CONTENT -->
  </mat-menu>
</mat-toolbar>
<mat-toolbar class="bg-[#4598F8] mb-[0px]" >
  <!--<div class="pl-3"><a href="#">Computers</a></div>-->
  <!--<div class="pl-7"><a href="#">PC Components</a></div>-->
  <!--<div class="pl-7"><a href="#">Periphirals</a></div>-->
  {{ authenticated ? 'Authenticated' : 'Not Authenticated' }}
  <a href="/userProfile">
    <p style="margin-bottom: 0px;">PROFILE PAGE</p>
  </a>
</mat-toolbar>
