<div mat-dialog-title class="dialog-title-style">
    <h1>Modifier un Produit</h1>
</div>

<div [formGroup]="brandForm" class="w-96 mx-auto mt-4" mat-dialog-content>

  <mat-form-field class="w-[100%]" appearance="fill">
    <mat-label>Nom de la Marque</mat-label>
    <input matInput formControlName="brandName">
  </mat-form-field>

<div mat-dialog-actions class="dialog-actions-style">
    <button mat-raised-button color="primary" class="mr-5" (click)="addBrand()">Ajouter</button>
    <button mat-raised-button color="warn"  (click)="closepopup()">Annuler</button>
</div>