<div class="flex items-center justify-center h-screen rounded-[5px]">
  <section class="signup-form">
    <div class="text-center">
      <a routerLink="/index" class="flex justify-center">
        <img src="../../../assets/staticImg/index_logo.png" class="w-[150px]">
      </a>
    </div>

    <div class="container flex justify-center border-t-4 max-w-xl">
      <div class="w-full">
        <div class="text-center">
          <h1 class="text-3xl font-bold pt-2">Créer un Nouveau Compte</h1>
        </div>
        <div class="mt-4">
          <form [formGroup]="registerForm" class="form-style w-96 mx-auto p-4">
            
            <div class="mb-4">
              <label for="username" class="block font-bold">Nom D'Utilisateur</label>
              <input type="text"  class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="username" placeholder="Nom D'Utilisateur" />
              <span *ngIf="registerForm.hasError('required','username') == registerForm.controls['username'].dirty" class="text-rose-600">*Un Nom D'utilisateur est requis</span>
            
            </div>
            <div class="mb-4">
              <label for="email" class="block font-bold">Email</label>
              <input  type="text"  class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="email" placeholder="Email" />
              <span *ngIf="registerForm.hasError('required','email') == registerForm.controls['email'].dirty" class="text-rose-600">*Un Email est requis</span>
              <span *ngIf="registerForm.hasError('email','email')" class="text-rose-600">*Un Email est requis</span>
            </div>
            
              <label for="password" class="block font-bold">Mot de Passe</label>
              <input type="password"  class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="password" placeholder="Mot de Passe" />
              <div class="form-group" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <label class="col invalid_msg" [ngClass]="password.hasError('required') || password.hasError('minlength')  ? 'text-red-600' : 'text-lime-600'">
                    <i class="material-icons">
                        {{ password.hasError('required') || password.hasError('minlength') ? 'cancel' : 'check_circle' }}
                    </i>Votre Mot de Passe doit avoir au moins 8 Caractères!
                </label>
                <br>
                <label class="col invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasNumber')  ? 'text-red-600' : 'text-lime-600'">
                    <i class="material-icons">
                        {{ password.hasError('required') || password.hasError('hasNumber') ? 'cancel' : 'check_circle' }}
                    </i>Doit contenir au moins un Un Numero.
                    
                </label>
                <br>
                <label class="col invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasCapitalCase')  ? 'text-red-600' : 'text-lime-600'">
                    <i class="material-icons">
                        {{ password.hasError('required') || password.hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
                    </i>Doit contenir au moins une Majuscule.
                </label>
                <br>
                <label class="col invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasSmallCase')  ? 'text-red-600' : 'text-lime-600'">
                    <i class="material-icons">
                        {{ password.hasError('required') || password.hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
                    </i>Doit contenir au moins une Minuscule.
                </label>
                <br>
                <label class="col invalid_msg" [ngClass]="password.hasError('required') || password.hasError('hasSpecialCharacters') ? 'text-red-600' : 'text-lime-600'">
                    <i class="material-icons">
                        {{ password.hasError('required') || password.hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
                    </i>Doit contenir au moins un Caractère special.
                </label>
            </div>

            <div class="mb-4">
              <label for="confirmPassword" class="block font-bold mt-3">Confirmer le Mot de Passe</label>
              <input type="password"  class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="confirmPassword" placeholder="Confirmer votre Mot de Passe" />
              <span *ngIf="registerForm.hasError('required','confirmPassword') == registerForm.controls['confirmPassword'].dirty" class="text-rose-600">*Vous devez remplir ce champs</span>
              <span *ngIf="registerForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-rose-600">Ce n'est pas le même Mot de Passe</span>

            </div>

            <div class="mt-4">
              <button [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" (click)="register()" class="btn w-full py-2 px-4 mb-3 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Enregistrer</button>
              <p class="cursor-pointer hover:text-blue-500" routerLink="/index">Revenir a L'index</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>