<footer class="footer bg-[#373737] grid grid-cols-12 bottom-0 mt-auto">
  <div class="footer-logo col-span-12 md:col-span-4 flex items-center justify-center md:justify-start md:pl-8 py-4 md:py-0">
    <img src="../../../assets/staticImg/index_logo.png" alt="logo" routerLink="/index" class="bg-white icon_poly p-4 w-[100px]" >
  </div>
  <div class="footer-links col-span-12 md:col-span-4 text-center md:text-left py-4">
    <p class="text-white">About Mirai Tech</p>
    <p class="text-white">Accessibility Policy</p>
    <p class="text-white">Copyrights & Trademarks</p>
    <p class="text-white pt-4">© 2023 Mirai Tech Electronics, Inc</p>
  </div>
  <div class="footer-links col-span-12 md:col-span-4 text-center md:text-left py-4">
    <p class="text-white">Privacy Policy</p>
    <p class="text-white">Contact Us</p>
  </div>
</footer>
