<!--FOOTER START-->

<footer class="bg-[#373737] grid grid-cols-12">
  <div class="pl-[60px] pt-[60px] pb-[60px]">
  <img src="../../../assets/staticImg/index_logo.png" alt="logo" routerLink="home" class="bg-white icon_poly p-[20px] w-[100px]" >
  </div>
  <div class="pl-[60px] pt-[60px] w-[400px]">
    <p class="text-white">About Mirai Tech</p>
    <p class="text-white">Acessibility Policy</p>
    <p class="text-white">Copyrights & Trademark</p>
    <p class="text-white pt-[20px]">© 2023 Mirai Tech Electronics, Inc</p>

  </div>
  <div class="pl-[60px] pt-[60px]">
    <p class="text-white">Privacy Policy</p>
    <p class="text-white">Contact Us</p>
  </div>
</footer>
<!--FOOTER END-->
