<div mat-dialog-title class="dialog-title-style">
    <h1>Editer un Utilisateur</h1>
</div>

<h2 class="text-center">Modifier les informations de L'Utilisateur</h2>

<div class="w-96 mx-auto mt-4" [formGroup]="userForm" mat-dialog-content>
    
  <mat-form-field class="w-[100%]" appearance="fill">
    <mat-label>Nom D'utilisateur</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field class="w-[100%]" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field class="w-[100%]" appearance="fill">
    <mat-label>Modifier Privilege de L'utilisateur</mat-label>
    <mat-select formControlName="role">
        <mat-option value="User">Client</mat-option>
        <mat-option value="Admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions-style">
    <button mat-raised-button color="primary" (click)="editUser()">Ajouter</button>
    <button mat-raised-button color="warn">Annuler</button>
</div>