<app-header></app-header>

<div class="container flex rounded-sm row-auto mx-auto max-w-screen-xl px-12 pt-10">
  <div class="w-[30%] p-2 relative text-center border-solid rounded-2xl border-2 border-sky-500 ml-[8px]">
    <img src="../../../assets/staticImg/user.png" class="w-12 mx-auto mt-5" alt="userStaticImg">

    <div *ngIf="username">
      <h2>Welcome<br> {{ username }}!</h2>
    </div>
    <button type="submit" name="submit" class="btn w-[70%] py-2 px-4 rounded-full bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600">DISCONNECT USER</button>
    <ul>
      <li class="m-2"><a href="/userProfile/info"><span>Mes Informations</span></a></li>
      <li class="m-2"><a href="/userProfile/orders"><span>Mes Commandes</span></a></li>
      <li class="m-2"><a href="/userProfile/addresses"><span>Mes Adresses</span></a></li>
    </ul> 
</div>

<div class="container p-10 border-2 border-solid rounded-2xl border-sky-500 mx-auto ml-[8px]">
  <p class="text-center">Informations Personelles</p>
  <p class="text-center"><i class="mandatory">*</i> Champs obligatoires</p>

  <div class="mb-[30px]">
   <p>Civilité</p>
    <input type="radio" name="male" id="male" value="genderMale">
    <label for="genderMale" class="pr-3">M.</label>

    <input type="radio" name="female" id="female" value="genderFemale">
    <label for="genderFemale">Mme</label>
   </div>

    <div class="max-w-[50%] flex">
      <div class="mb-2"> 
      <label for="firstName" class="block">Prenom<i class="mandatory">*</i></label>
      <input type="text" class="border-solid border-2 border-sky-500 rounded m-2" />
    </div>
    <div class="mb-2"> 
      <label for="lastName" class="block">Nom<i class="mandatory">*</i></label>
      <input type="text" class="border-solid border-2 border-sky-500 rounded m-2" />
      </div>
    </div>
    <div class="max-w-[50%] flex">
      <div class="mb-2"> 
      <label for="email" class="block">Email<i class="mandatory">*</i></label>
      <input type="text" class="border-solid border-2 border-sky-500 rounded m-2" />
    </div>
    <div class="mb-2"> 
      <label for="birthday" class="block">Date de naissance<i class="mandatory">*</i></label>
      <input type="text" class="border-solid border-2 border-sky-500 rounded m-2" />
      </div>
    </div>
    <div class="text-center">
    <button type="submit" name="submit" class="btn w-[25%] py-2 px-4 rounded-full bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Valider</button>
    </div>
  </div>

<!--<app-footer></app-footer>-->
