<app-header></app-header>

<app-carousel></app-carousel>


<div class="py-10 px-4 sm:px-6 lg:px-8">
  <p class="text-center text-2xl font-bold mb-8">Nos Partenaires</p>
  <!-- BRANDS -->
  <div class="flex justify-center mb-8">
    <div class="flex justify-center mb-8">
      <img src="../assets/staticImg/asus.jpg" class="rounded-full icon" alt="gigabyte">
    </div>
    <div class="flex ml-3 justify-center mb-8">
      <img src="../assets/staticImg/amd.jpg" class="rounded-full icon" alt="gigabyte">
    </div>
    <div class="flex ml-3 justify-center mb-8">
      <img src="../assets/staticImg/intel.jpg" class="rounded-full icon" alt="gigabyte">
    </div>
    <div class="flex ml-3 justify-center mb-8">
      <img src="../assets/staticImg/aorus.jpg" class="rounded-full icon" alt="gigabyte">
    </div>
    <div class="flex ml-3 justify-center mb-8">
      <img src="../assets/staticImg/msi.jpg" class="rounded-full icon" alt="gigabyte">
    </div>
  </div>



  <p class="text-center text-2xl font-bold mb-8">Les Produits que nous vendons, et bien plus!</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

    <div class="bg-white rounded-lg shadow-md p-4">
      <img src="../assets/staticImg/laptop.jpg" alt="laptop" class="mx-auto h-32 mb-4">
      <p class="text-center text-lg font-bold">Ordinateur Portable</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
      <img src="../assets/staticImg/gpu.png" alt="laptop" class="mx-auto h-32 mb-4">
      <p class="text-center text-lg font-bold">Carte Graphique</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
      <img src="../assets/staticImg/cpu.png" alt="laptop" class="mx-auto h-32 mb-4">
      <p class="text-center text-lg font-bold">Processeur</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
      <img src="../assets/staticImg/motherboard.jpg" alt="laptop" class="mx-auto h-32 mb-4">
      <p class="text-center text-lg font-bold">Carte Mére</p>
    </div>
  </div>

  <p class="text-center text-2xl font-bold mb-8 pt-3">Nos produits en vedette</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

    <div *ngFor="let product of products?.slice(0,4)" class="border rounded-lg bg-gray-100 p-4">
      <a [routerLink]="['/productItem', product._id]">
        <p class="font-semibold">{{ product.productName }}</p>
        <img [src]="'assets/upload/' + product.productImageURL" alt="{{ product.productName }}" class="mx-auto h-32 mb-2">
        <p class="text-center">{{ product.productDescription }}</p>
        <p class="text-center font-semibold">{{ product.productPrice | currency: 'USD' }}</p>
        <button class="block mx-auto bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Add to Cart</button>
      </a>
    </div>
  </div>
</div>

<!--FOOTER (This footer is NOT in a form of "app-footer" because of a styling positioning issue)-->
<footer class="footer bg-[#373737] grid grid-cols-12 bottom-0 mt-auto">
  <div class="footer-logo col-span-12 md:col-span-4 flex items-center justify-center md:justify-start md:pl-8 py-4 md:py-0">
    <img src="../../../assets/staticImg/index_logo.png" alt="logo" routerLink="/index" class="bg-white icon_poly p-4 w-[100px]" >
  </div>
  <div class="footer-links col-span-12 md:col-span-4 text-center md:text-left py-4">
    <p class="text-white">About Mirai Tech</p>
    <p class="text-white">Accessibility Policy</p>
    <p class="text-white">Copyrights & Trademarks</p>
    <p class="text-white pt-4">© 2023 Mirai Tech Electronics, Inc</p>
  </div>
  <div class="footer-links col-span-12 md:col-span-4 text-center md:text-left py-4">
    <p class="text-white">Privacy Policy</p>
    <p class="text-white">Contact Us</p>
  </div>
</footer>
