<div class="flex items-center justify-center h-screen rounded-[5px]">
    <section class="signup-form">
        <div class="text-center">
         <a href="#" class="flex justify-center">
            <img src="../../../assets/staticImg/index_logo.png" class="w-[150px]">
          </a>
        </div>
  
        <div class="container flex justify-center border-t-4 mt-5 max-w-xl">
          <div class="w-full">
            <div class="text-center">
              <h1 class="text-3xl font-bold pt-2">Se Connecter</h1>
            </div>
            <div class="mt-4">
              <form [formGroup]="resetForm" class="w-96 mx-auto" method="post">
                <span>Please use a strong password</span>
                <div class="mb-4">
                  <label for="password" class="block font-bold">Password</label>
                  <input type="password" class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="password" placeholder="Password" />
                  <span *ngIf="resetForm.hasError('required','password') == resetForm.controls['password'].dirty" class="text-rose-600">*The password is required</span>
                </div>
                <div class="mb-4">
                  <label for="confirmPassword" class="block font-bold">Confirm Password</label>
                  <input type="password" class="form-input w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" formControlName="confirmPassword" placeholder="confirmPassword" />
                  <span *ngIf="resetForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-rose-600">*The password is not the same</span>
  
                </div>
                <div class="mt-4">
                  <button [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" (click)="reset()" name="submit" class="btn w-full py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Modifier le Mot de Passe</button>
                </div>
            </form>
  
            </div>
          </div>
        </div>
      </section>
    </div>
  